h1 {
    position: absolute;
    left: 23.89%;
    right: 23.89%;
    top: 6.74%;
    bottom: 86.26%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
 }

.box {
    position: absolute;
    width: 600px;
    height: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #122A6E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

#usernamecad {
    position: absolute;
    width: 530px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 160px;
}

#matriculacad {
    position: absolute;
    width: 530px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 230px;
}

#senhacad {
    position: absolute;
    width: 530px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 300px;
}

#confirmarsenhacad {
    position: absolute;
    width: 530px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 370px;
}

#buttoncad {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 460px;
    background: white;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-size: 40px;
    color: #122A6E;
    
}

#adminput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    position: relative;
    top: 540px;
    left: 50px;
  }

  #admlabel {
    position: relative;
    top: 535px;
    left: 50px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-size: 25px;
    color: white;
  }

  #funcinput {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    border: 2px solid white;
    width: 25px;
    height: 25px;
    border-radius: 4px;
    position: relative;
    top: 540px;
    left: 80px;
  }

  #funclabel {
    position: relative;
    top: 535px;
    left: 80px;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-size: 25px;
    color: white;
  }