/* Ajustando Título*/
 h1 {
    position: absolute;
    width: 400px;
    left: 23.89%;
    right: 23.89%;
    top: 6.74%;
    bottom: 86.26%;
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
 }
 
 /* Ajustando a caixa com os componentes*/
 .box {
    position: absolute;
    width: 600px;
    height: 650px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #122A6E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }

  /* Ajustando o botão*/
#buttonlogin{
    position: absolute;
    width: 320px;
    height: 72px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 485px;
    color:#122A6E;
    background-color: white;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 45px;

    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 55px; 
    line-height: 100%;
    letter-spacing: -0.03em;
    color: #122A6E;
    text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
    -webkit-text-stroke: 2px black;

}

/* Ajustando os inputs*/
#usernamelogin, #senhalogin {
    position: absolute;
    width: 530px;
    height: 40px;
    left: 35px;
    top: 240px;
    background-color: #122A6E;
    border: none;
    border-bottom: 1px solid black;

    font-family: 'IBM Plex Sans';
    font-size: 25px;
}

#usernamelogin {
    top: 240px;
}

#senhalogin {
    top: 310px;
}

/*mensagem de erro*/
#invalid {
    position: absolute;
    left: 50%;
    top: 180px;
    transform: translate(-50%, -50%);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 25px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FF0000;
    display: none;
}