#background {
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgb(0,0,0, 0.5);
}
  
  /* Ajustando a caixa com os conteudos*/
  .boxantena {
    position: absolute;
    width: 1200px;
    height: 675px;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    background-color: #122A6E;
    filter: drop-shadow(0px 4px 4px rgba(0, 0, 0, 0.25));
  }
  
  /* Ajustando o título*/
h1 {
    position: absolute;
    left: 50%;
    top: 30px;
    width:max-content;
    transform: translate(-50%,-50%);
    font-family: 'IBM Plex Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 55px;
    line-height: 100%;
    display: flex;
    align-items: center;
    text-align: center;
    letter-spacing: -0.03em;
    color: #FFFFFF;
  }

  /* Ajustando todos os inputs e depois só posicionando*/
  .form {
    position: absolute;
    width: 670px;
    height: 40px;
    left: 50%;
    transform: translate(-50%, -50%);
    background-color: #122A6E;
    border: none;
    border-bottom: 1px solid black;
    font-size: 55px;
    font-family: 'IBM Plex Sans';
    color: #9F9999;
  }
  
  #port {
    top: 170px;
  }
  
  #bautrate {
    top: 240px;
  }
  
  #bytesize {
    top: 310px;
  }
  
  #parit {
    top: 380px;
  }

  #stopbits {
    top: 450px;
  }
  
  #buttoncomecar {
    position: absolute;
    width: 320px;
    height: 60px;
    left: 50%;
    transform: translate(-50%, -50%);
    top: 580px;
    background: white;
    box-shadow: 3px 3px 0px rgba(0, 0, 0, 0.1);
    border-radius: 45px;
    font-family: 'IBM Plex Sans';
    font-size: 40px;
    color: #122A6E;
  }

   #buttonfechar {
    position: absolute;
    top: 20px;
    left: 98%;
    transform: translate(-50%, -50%);
    color: #122A6E;
  }
  