
html, body {
    margin: 0;
    padding: 0;
    overflow: hidden;
  }

.paginaFuncionario {
    width: 100vh;
    height: 100vw;
    overflow: hidden;
}

.boxfunc {
    position: absolute;
    display: flex;
    align-items: center;
    width: 100vw;
    height: 35px;
    top: 0px;
    left: 0px;    
    background-color: #DADADA;
}

.botao {
    position: relative;
    height: 30px;
    margin-right: 5px;
    background-color: #DADADA;
    border-width: 0px;
}

.botao span {
    display: flex;
    align-items: center;
}

.botao svg {
    font-size: 23px;
    margin-right: 0px;
    color: #00FF19;
}

.botaoStop {
    position: relative;
    height: 30px;
    margin-right: 5px;
    background-color: #DADADA;
    border-width: 0px;
}

.botaoStop span {
    display: flex;
    align-items: center;
}

.botaoStop svg {
    font-size: 13px;
    margin-right: 2px;
    color: #F30101;
    background-color: #F30101;
}

#logoutfunc {
    position: absolute;
    top: 2.5px;
    height: 30px;
    background-color: #DADADA;
    right: 10px;
    border-width: 0px;
}

#boxcronometro {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 280px;
    height: 80px;
    top: 35px;
    left: 0px;    
    background-color: #122A6E;
}

#cronometro {
    align-items: center;
    justify-content: center;
    color: white;
    font-size: 60px;
}

#recepcao {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    width: 280px;
    height: 30px;
    top: 115px;
    left: 0px;
    color: #FFF507;    
    background-color: #DADADA;
}

#recepcao svg {
    font-size: 23px;
    margin-right: 5px;
    color: #FFF507;
    
}

#recebendo {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    font-size: 23px;
    width: 280px;
    height: 30px;
    top: 115px;
    left: 0px;
    color: #00FF19;    
    background-color: #DADADA;
}

.boxGrafico1 {
    position: absolute;
    display: flex;
    flex-direction: column;
    top: 35px;
    left: 0px;
    height: 910px;
    width: 50vw;
    max-width: 50vw;
    overflow-x: scroll;
    border: 3px solid black;
    border-top: 20px solid black;
}

.boxGrafico1 span {
    position: absolute;
    top: -20px;
    left: 285px;
    color: white;

}

.boxGrafico2 {
    position: absolute;
    display: flex;
    top: 35px;
    left: 50%;
    height: 100vh;
    width: 50vw;
    border: 2px solid black;
    border-top: 20px solid black;
}

.boxGrafico2 span {
    position: absolute;
    top: -20px;
    left: 5px;
    color: white;

}

.grafico{
    position: absolute;
    top: 90px;
    width: 50vw;
    height: 720px;
}
